@import url("https://unpkg.com/mvp.css");

.cocktailgrid, .lionGrid{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    article{
        cursor: pointer;
        flex: 1 1 200px;
        a{display: block;}
        img{
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 5/7;
            object-fit: cover;
        }
        p{
            text-align: center;
        }
        border: 1px solid gray;
    }
}

.lionGrid article {
    flex:1 1 400px;
    img{
    aspect-ratio: 4/3;
}}